* {
    margin: 0;
}

.header,
.footer {
    background-color: grey;
    height: 7.95vh;
    padding: 10px;
}

.container {
    display: flex;
    margin-top: 3vh;
    margin-bottom: 3vh;
    height: 74vh;
}

.nestedContainer {
    display: flex;
    flex-direction: column;
}

.content-a {
    padding: 10px;
    background-color: red;
}

.content-b {
    padding: 10px;
    background-color: orange;
}

.content-c {
    padding: 10px;
    background-color: yellow;
}

@media screen and (max-width:480px){
    .container{
        flex-direction: column;
    }
    .nestedContainer{
        height:75%
    }
    .content-a{
        height:50%;
    }
    .content-b{
        height:50%;
    }
    .content-c{
        height:33.33%;
    }
}

@media screen and (min-width:481px) and (max-width:768px) {
    .nestedContainer{
        width:50%;
    }

    .content-a{
        height:50%;
    }
    .content-b{
        height: 50%;
    }
    .content-c{
        width:50%
    }
}

@media screen and (min-width:769px) {
    .nestedContainer {
        width: 75%;
    }

    .content-a {
        height: 50%;
    }

    .content-b {
        height: 50%;
    }

    .content-c {
        width: 25%;
    }
}
