*{
    margin:0px;
}

.header,
.footer {
    background-color: grey;
    height: 7.95vh;
    padding: 10px;
}

.container {
    display: flex;
    margin-top: 3vh;
    margin-bottom: 3vh;
    height: 74vh;
}

.content-a{
    padding:10px;
    background-color: rgb(94, 226, 94);
}

.content-b{
    padding:10px;
    background-color: green;
}

.content-c{
    padding: 10px;
    background-color: yellow;
}

@media screen and (max-width:480px){
    .container{
        flex-direction: column;
    }

    .content-a{
        height: 50%;
    }
    .content-b{
        height: 25%;
    }
    .content-c{
        height: 25%;
    }
}

@media screen and (min-width:481px) and (max-width:768px) {
    .container{
        flex-wrap: wrap;
    }

    .content-a{
        width: 100%;
    }
    .content-b{
        width: 47.25%;
    }
    .content-c{
        width: 47.25%;
    }
}

@media screen and (min-width:769px){
    .content-a{
        order: 2;
        width:50%;
    }
    .content-b{
        order:1;
        width:25%;
    }
    
    .content-c{
        order: 3;
        width:25%;
    }
}